.categories {
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;

    li {
      background-color: #dfdfdf;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#505050, 5%);
      }

      &.active {
        background-color: #444444;
        color: rgb(224, 223, 223);
      }
    }
  }
}

@media (max-width: 880px) {
  li {
   font-size: 14px;
  }
}