body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8d6f8;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background: #ffffff;
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 30px;

@media (max-width: 1150px) {
  // width: 100%;
}

  img {
    margin: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
      display: inline;
    }
  }

  .sub-title_content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
      display: inline;
    }

    // img {
    //   margin: 0;
    // }
    .search-block {
      display: flex;
      align-items: center;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
      padding: 0 15px;
      position: relative;

      input {
        border: 0;
        padding: 10px;
        font-size: 16px;
        width: 200px;
        outline: none;
      }

      .clear-btn {
        position: absolute;
        right: 0;
      }
    }
  }

  .headerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 70%;
      height: auto;
      margin-top: 10px;
      border-radius: 10px;
    }

    h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .headerRight {
    list-style-type: none;

    li {
      display: flex;
      align-items: center;

      @media (max-width: 450px) {
        justify-content: center;
      }

      img {
        cursor: pointer;
      }

      span {
        padding-right: 15px;
      }
    }
  }

  .content-card {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    max-width: 1080px;
    padding-top: 15px;
    place-content: center;

    @media (max-width: 1150px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .button {
    background: #ffffff;
    border: none;
    box-sizing: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;

    img {
      margin: 0;
    }
  }
}